@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<form id="cad-pf" action="/PessoaFisica/Adiciona" method="post">
    <div class="form-group">
        <label for="nome">Nome:</label>
        <input id="nome" name="pessoa.Nome" class="form-control" />

        <label for="rua">Rua:</label>
        <input id="rua" name="pessoa.Rua" class="form-control" />

        <label for="bairro">Bairro:</label>
        <input id="bairro" name="pessoa.Bairro" class="form-control" />

        <label for="numeroLogradouro">Numero Logradouro:</label>
        <input id="numeroLogradouro" name="pessoa.NumeroLogradouro" class="form-control" />

        <label for="complemento">Complemento:</label>
        <input id="complemento" name="pessoa.Complemento" class="form-control" />

        <label for="cpf">CPF:</label>
        <input id="cpf" name="pessoa.CPF" class="form-control" />

        <label for="sexo">Sexo:</label>
        <select id="sexo" name="pessoa.Sexo" class="form-control">
            <option value="M">M</option>
            <option value="F">F</option>
        </select>

        <label for="dataNascimento">Data de nascimento:</label>
        <input id="dataNascimento" name="pessoa.DataNascimento" class="form-control" />

        <label for="tipo">Tipo:</label>
        <select id="tipo" name="pessoa.TipoID" class="form-control">
            @foreach (var tipo in ViewBag.TipoUsuario)
            {
                <option value="@tipo.ID">@tipo.Nome</option>
            }
        </select>


        <label for="email">Email:</label>
        <input id="email" name="login.Email" class="form-control" />


        <label for="senha">Senha:</label>
        <input id="senha" name="login.senha" disabled class="form-control" />

    </div>
    <input type="submit" id="salvar-pf" class="form-control"/>
</form>
    
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/Meus scripts/Scripts-pessoaFisica/main.js"></script>