
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form action="/TipoUsuario/Adiciona" method="post">
    <label for="nome">Nome:</label>
    <input id="nome" name="tipo.Nome" />

    <input type="submit" />
</form>
   
