@{
    // Layout = "~/Views/Shared/_Layout.cshtml";
    Layout = "~/Content/dodmond/_layout.cshtml";
}

<table class="table cinza">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Remover</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var tipo in ViewBag.Tipo)
        {
            <tr>
                <td class="id">@tipo.ID</td>
                <td class="nome">@tipo.Nome</td>
                <td><a class="botao-remover" href="#">D</a></td>
            </tr>
        }
    </tbody>
</table>


<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/Meus scripts/Scripts-tipoUsuario/main.js"></script>
