
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Form</title>
</head>
<body>
    <div>
        <form action="/Promocao/Adiciona" method="post">
            <label for="descricao">Descrição:</label>
            <input id="descricao" name="promocao.Descricao" />

            <label for="desconto">Desconto:</label>
            <input id="desconto" name="promocao.Desconto" />

            <label for="produtos">Produtos:</label>
            <select id="produtos" name="promocao.Produtos">
                @foreach (var produto in ViewBag.Produto)
                {
                    <option value="@produto.ID">@produto.Nome</option>
                }
            </select>

            <input type="submit" />
        </form>
    </div>
</body>
</html>
