
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Descrição</th>
            <th>Desconto</th>
            <th>Produto</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var promocao in ViewBag.Promocao)
        {
            <tr>
                <td class="id">@promocao.ID</td>
                <td class="descricao">@promocao.Descricao</td>
                <td class="desconto">@promocao.Desconto</td>                
            </tr>
        }
    </tbody>
</table>
    