
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Descrição</th>
                    <th>Desconto</th>
                    <th>Produto</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var promocao in ViewBag.Promocao)
                {
                    <tr>
                        <td>@promocao.ID</td>
                        <td>@promocao.Descricao</td>
                        <td>@promocao.Desconto</td>
                        <td>@promocao.Produtos</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>
