body {
}

.arrumando-topbar {
    padding: 55px 0px;
}

.arrumando-hoc {
    margin: -5% 0%;
}

.arrumando-espaçoBranco{
    height: 0px;
}

.tamanho-link{
    font-size: 14px;
    position : absolute;
    top : 40px;
    right: 30px;
}

.nomeAplicacao{
    position: absolute;
    left: 40px;
    font-size: 40px;
    top: 30px;
}

.rodape {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 60px;
    width: 100%;    
    background-color: black;
    color: white;
    text-align: center;
}

