@{
    //Layout = "~/Views/Shared/_Layout.cshtml";    
    Layout = "~/Content/dodmond/_layout.cshtml";
}


<form class="margem-superior" action="/Categoria/Adiciona" method="post" id="cad-categoria">
    <div class="form-group" >
        <label for="nome" style="margin-left: 36%;">Nome:</label>
        @Html.ValidationMessage("categoria.Nome")
        <input id="nome" name="categoria.Nome" class="form-control center-block" />        
    </div>
    <input type="submit" id="salvar-categoria" class="form-control center-block ajustar-botao" />
</form>


<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/Meus scripts/Scripts-categoria/main.js"></script>