@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<form action="/Categoria/Adiciona" method="post" id="cad-categoria">
    <div class="form-group">
        <label for="nome">Nome:</label>
        <input id="nome" name="categoria.Nome" class="form-control" />
    </div>
    <input type="submit" id="salvar-categoria" class="form-control" />
</form>


<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/Meus scripts/Scripts-categoria/main.js"></script>