
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Remover</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var categoria in ViewBag.Categoria)
        {
            <tr>
                <td class="id">@categoria.ID</td>
                <td class="nome">@categoria.Nome</td>
                <td><a class="botao-remover" href="#">D</a></td>
            </tr>
        }
    </tbody>
</table>

<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/Meus scripts/Scripts-categoria/main.js"></script>

