@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table">
    <thead>
        <tr>            
            <th>Produto</th>
            <th>PreçoUnitario</th>
            <th>Quantidade</th>
            <th>Remover</th>
        </tr>
    </thead>
    <tbody>        
    </tbody>
</table>

<br />

<form>
    <select id="select-produtos">
        @foreach (var produto in ViewBag.Produto)
        {
            <option value=@produto.ID>@produto.Nome</option>
        }
    </select>

    <label for="precoUnitario">Preço unitário:</label>
    <input id="precoUnitario" name="precoUnitario" />

    <label for="quantidade">Quantidade:</label>
    <input id="quantidade" name="quantidade" />

    <input type="submit" id="enviar-carrinho" value="Enviar pro carrinho" />

    <br />
    <br />
    <br />

    <label for="precoTotal">Preço total:</label>
    <input id="precoTotal" name="venda.PrecoTotal" disabled />

    <label for="quantidadeTotal">Items total:</label>
    <input id="quantidadeTotal" name="venda.Quantidade" disabled />

    <input type="submit" id="finalizar-compra" value="Finalizar compra" />
</form>

<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/Meus scripts/Scripts-venda/main.js"></script>