@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table">
    <thead>
        <tr>
            <th>ID da venda</th>
            <th>Produto</th>
            <th>PreçoUnitario</th>
            <th>Quantidade</th>
            <th>Remover</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<br />

<form>
    <select>
        @foreach (var produto in ViewBag.Produto)
        {
            <option value=@produto.ID id="produto">@produto.Nome</option>
        }
    </select>

    <label for="precoUnitario">Preço unitário:</label>
    <input id="precoUnitario" name="venda.PrecoUnitario" />

    <label for="quantidade">Quantidade:</label>
    <input id="quantidade" name="venda.Quantidade" />

    <input type="submit" id="enviar-carrinho" value="Enviar pro carrinho"/>

    <br />
    <br />
    <br />

    <label for="precoTotal">Preço total:</label>
    <input id="precoTotal" name="venda.PrecoTotal" disabled />
</form>

<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/Meus scripts/Scripts-venda/main.js"></script>