@{
    //Layout = "~/Views/Shared/_Layout.cshtml";
    Layout = "~/Content/dodmond/_layout.cshtml";
}

<table class="table cinza">
    <thead>
        <tr>            
            <th>Produto</th>
            <th>PreçoUnitario</th>
            <th>Quantidade</th>
            <th>Remover</th>
        </tr>
    </thead>
    <tbody>        
    </tbody>
</table>

<br />

<form>
    <div class="form-group">
        <div class="row">
            <div class="col-md-3">
                <label for="select-produtos">Produtos:</label>
                <select id="select-produtos" class="form-control">
                    @foreach (var produto in ViewBag.Produto)
                    {
                        <option value=@produto.ID>@produto.Nome</option>
                    }
                </select>
            </div>
            <div class="col-md-3">
                <label for="precoUnitario">Preço unitário:</label>
                <input id="precoUnitario" name="precoUnitario" class="form-control" />
            </div>
            <div class="col-md-3">
                <label for="quantidade">Quantidade:</label>
                <input id="quantidade" name="quantidade" class="form-control" />
            </div>
        </div>
    </div>

    <input type="submit" id="enviar-carrinho" value="Enviar pro carrinho" class="form-control" />
    
    <br />
    <br />

    <div class="form-group">
        <div class="row">
            <div class="col-md-4">
                <label for="precoTotal">Preço total:</label>
                @Html.ValidationMessage("pessoa.PrecoTotal")
                <input id="precoTotal" name="venda.PrecoTotal" disabled class="form-control" />

            </div>
            <div class="col-md-4">
                <label for="quantidadeTotal">Items total:</label>
                @Html.ValidationMessage("pessoa.Quantidade")
                <input id="quantidadeTotal" name="venda.Quantidade" disabled class="form-control" />

            </div>
        </div>
    </div>
    <input type="submit" id="finalizar-compra" value="Finalizar compra" class="form-control" />

</form>

<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/Meus scripts/Scripts-venda/main.js"></script>