<!DOCTYPE html>
<!--
Template Name: Dodmond
Author: <a href="http://www.os-templates.com/">OS Templates</a>
Author URI: http://www.os-templates.com/
Licence: Free to use under our free template licence terms
Licence URI: http://www.os-templates.com/template-terms
-->
<html lang="">
<head>
    <title>My ASP.NET Application</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href="~/Content/dodmond/layout/styles/layout.css" rel="stylesheet" type="text/css" media="all">
    <link href="~/Content/dodmond/layout/styles/framework.css" rel="stylesheet" type="text/css" media="all">
    <link href="~/Content/dodmond/layout/styles/font-awesome.min.css" rel="stylesheet" type="text/css" media="all">
    <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" media="all">
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" media="all">
    <link href="~/Content/Formularios.css" rel="stylesheet" type="text/css" media="all">
    <link href="~/Content/Listas.css" rel="stylesheet" type="text/css" media="all">
    <link href="~/Content/ArrumandoLayout.css" rel="stylesheet" type="text/css" media="all">
    <link href="~/Content/Vendas.css" rel="stylesheet" type="text/css" media="all">
</head>
<body id="top"  style="background-color:gray;">
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row0 arrumando-topbar arrumando-hoc">
  <div id="topbar" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <div class="fl_right">
      <ul>
        <li class="nomeAplicacao"><strong>Blu Vendas</strong></li>
        <li><a href="http://localhost:62680/Login/DeslogarColaborador" class="tamanho-link">Logout</a></li>          
      </ul>
    </div>
    <!-- ################################################################################################ -->
  </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row1 arrumando-espaçoBranco">
  
  <nav id="mainav" class="hoc clear text-center"> 
    <!-- ################################################################################################ -->
      <ul class="clear centralizando-menu">
          
          <li>
              <a class="drop" href="#">Produtos</a>
              <ul>
                  <li><a href="http://localhost:62680/Produto/">Lista</a></li>
                  <li><a href="http://localhost:62680/Produto/Form">Cadastro</a></li>
              </ul>
          </li>
          <li>
              <a class="drop" href="#">Categoria</a>
              <ul>
                  <li><a href="http://localhost:62680/Categoria/">Lista</a></li>
                  <li><a href="http://localhost:62680/Categoria/Form">Cadastro</a></li>
              </ul>
          </li>
          <li>
              <a class="drop" href="#">Pessoa física</a>
              <ul>
                  <li><a href="http://localhost:62680/PessoaFisica/">Lista</a></li>
                  <li><a href="http://localhost:62680/PessoaFisica/Form">Cadastro</a></li>
              </ul>
          </li>
          <li>
              <a class="drop" href="#">Pessoa jurídica</a>
              <ul>
                  <li><a href="http://localhost:62680/PessoaJuridica/">Lista</a></li>
                  <li><a href="http://localhost:62680/PessoaJuridica/Form">Cadastro</a></li>
              </ul>
          </li>
          <!--<li>
        <a class="drop" href="#">Promoção</a>
        <ul>
            <li><a href="http://localhost:62680/Promocao/">Lista</a></li>
            <li><a href="http://localhost:62680/Promocao/Form">Cadastro</a></li>
        </ul>
    </li>-->
          <li>
              <a class="drop" href="#">Venda</a>
              <ul>
                  <li><a href="http://localhost:62680/Venda/">Lista</a></li>
                  <li><a href="http://localhost:62680/Venda/Venda">Cadastro</a></li>
              </ul>
          </li>
      </ul>
    <!-- ################################################################################################ -->
  </nav>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper bgded overlay" style="background-image:url('images/demo/backgrounds/01.png');">
    <div id="pageintro" class="hoc clear" style="padding-bottom:6%;">
        <!-- ################################################################################################ -->
        @RenderBody()
        <!-- ################################################################################################ -->
    </div>
    <div>
        <footer>
            <p class="rodape">Contato: 3333-3333</p>
            
        </footer>
    </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->

<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->

<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a>
<!-- JAVASCRIPTS -->
    
<script src="~/Content/dodmond/layout/scripts/jquery.min.js"></script>
<script src="~/Content/dodmond/layout/scripts/jquery.backtotop.js"></script>
<script src="~/Content/dodmond/layout/scripts/jquery.mobilemenu.js"></script>
<script src="~/Content/dodmond/layout/scripts/jquery.flexslider-min.js"></script>
</body>
</html>