@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Index</title>
    </head>
    <body>    
        <form action="/Login/Autentica" method="post">
            <div class="form-group">
                <label for="cpf">Usuario:</label>
                <input id="cpf" name="cpf" class="form-control" />

                <label for="dataNascimento">Data de nascimento:</label>
                <input id="dataNascimento" name="dataNascimento" class="form-control" />
            </div>
            <input type="submit" value="Logar" class="form-control" />
        </form>
    </body>
</html>
