
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LoginColaborador</title>
</head>
<body>
    <div> 

        <form action="/Login/Logar" method="post">
            <label for="email">Email:</label>
            <input id="email" name="login.Email" class="form-control" />

            <label for="senha">Senha:</label>
            <input id="senha" name="login.Senha" class="form-control" />

            <input type="submit" id="login" class="form-control" />

        </form>

    </div>
</body>
</html>
