
@{
    Layout = "~/Content/dodmond/_layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LoginColaborador</title>
</head>
<body>    

    <form action="/Login/AutenticaColaborador" method="post">
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" class="form-control" />

            <label for="senha">Senha:</label>
            <input type="password" id="senha" name="senha" class="form-control" />
        </div>
            <input type="submit" id="login" class="form-control btn-success" />        
    </form>

</body>
</html>
